// SCSS = /src/app/scss/test/[_test.scss]  HTML= /test.html
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.days__body {
  font-family: "Roboto", sans-serif;
  background-color: var(--701);
  min-height: 100vh;
  padding-inline: 85px 15px;
  padding-block: 56px;

  main {
    padding-bottom: 200px;
  }
}
