.days__body .hamburger-btn {
  background: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(111, 0, 121, 0.158);
  width: 64px;
  height: 64px;

  cursor: pointer;
  &:hover {
    background-color: rgba(111, 0, 121, 0.479);
  }

  img {
    width: 24px;
    height: 24px;
  }
}
