// page navbar links to sections
.days__body .navbar {
  position: relative;
  height: 44px;
  // background-color: rgb(39, 12, 192);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);

  &__inside_contanier {
    height: 100%;
    max-width: 600px;
    // background-color: rgb(39, 12, 192);
    margin-inline: auto;

    &__list {
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: center;
      // gap: 10px;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        // border: solid 1px red; ////

        a {
          // border: solid 1px red; ////
          padding-left: 10px;
          padding-right: 10px;
          font-weight: 500;
          color: #ffffffa4;
          transition: color 150ms ease-in-out;
          position: relative;
        }
      }
    }
  }
}
