// page navbar links to sections
.navbar {
  position: relative;
  height: 48px;
  // background-color: rgb(39, 12, 192);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);

  &__inside_contanier {
    height: 100%;
    max-width: 600px;
    // background-color: rgb(39, 12, 192);
    margin-inline: auto;

    &__list {
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
      // gap: 10px;

      li {
        display: flex;
        align-items: center;
        height: 100%;
        &:hover {
          a {
            color: var(--501);
          }
        }

        a {
          color: #ffffffa4;
          transition: color 150ms ease-in-out;
        }
      }
    }
  }
}
