.days__body .mdn_container {
  // outline: red 2px solid; ////
  // border: solid 3px #e61b1b;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: hsl(0, 0%, 2%);
    bottom: -3px;
    right: -3px;
    transform: translate(30%, 30%) rotate(45deg);
  }
  &__banner {
    height: 150px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 1%);
    img:nth-of-type(1) {
      height: 50px;
    }
    img {
      max-height: 100%;
    }
  }

  &__language_lessons {
    background-image: linear-gradient(
      0deg,
      hsla(264, 75%, 27%, 0.5),
      hsl(254, 55%, 43%, 0.7),
      hsla(224, 63%, 49%, 0.7),
      hsla(198, 55%, 48%, 0.5)
    );

    p {
      color: #ffffff;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 800;
      padding-block: 10px;
    }

    ul {
      // outline: rgb(153, 0, 255) 2px solid; ////
      list-style: none;
      padding-left: 12px;

      li a {
        // outline: rgb(0, 38, 255) 2px solid; ////
        display: block;
        padding-block: 2.6px;
        color: hsla(0, 0%, 100%, 0.705);
        transition: font-weight 100ms ease-in-out;
      }
    }
  }

  &__language_lessons ul li {
    position: relative;
    transition: padding-left 100ms ease-in-out;

    &::before {
      content: "";
      position: absolute;
      border: solid 5px transparent;
      left: -5px;
      top: 50%;
      transform: translateY(-50%);
      transition: border-left-color 100ms ease-in-out;
    }

    &:hover {
      padding-left: 5px;
      &::before {
        border-left-color: hsl(214, 93%, 50%);
      }
    }
    a:hover {
      font-weight: 500;
    }
  }
}
