main .resources-section .Podcast-contanier {
  // outline: solid 1px red; ////
  padding: 5px;

  background-image: linear-gradient(
    45deg,
    hsl(var(--902), 30%),
    hsl(var(--802), 30%),
    hsl(var(--702), 30%),
    hsl(var(--602), 30%),
    hsl(var(--502), 30%),
    hsl(var(--402), 30%),
    hsl(var(--302), 30%),
    hsl(var(--202), 30%),
    hsl(var(--102), 30%),
    hsl(var(--103), 30%)
  );

  .player-container {
    padding-top: 3px;
    iframe {
      border-radius: 0;
      background-color: transparent;
    }
  }
  .episode-details {
    // outline: solid 1px red; ////
    padding-top: 3px;
    padding-inline: 6px 0;

    p {
      &:first-child {
        color: hsla(0, 0%, 100%, 0.336);
        font-size: 0.7rem;
        padding-bottom: 5px;
      }
      &:last-child {
        color: hsl(0, 0%, 95%);
        font-size: 0.85rem;
      }
    }
  }
}
