.days__body main .resources-section {
  // outline: solid 1px rgba(225, 0, 255, 0.897); /////
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 300px;
  gap: 20px 10px;
  padding-inline: 90px;

  @media (max-width: 1400px) {
    padding-inline: 40px;
  }
  @media (max-width: 1000px) {
    padding-inline: 20px;
  }
  @media (max-width: 600px) {
    padding-inline: 5px;
  }
}
