main .resources-section .yt-video-contanier {
  // outline: solid 1px rgba(0, 17, 255, 0.897); ////

  // div"yt-video-contanier" 0{
  //
  //    img"video-thumbnail" 1{}1
  //
  //    div"video-data" 1{
  //
  //       div"channel-logo" 2{
  //          img  }2
  //
  //       div"title-channel-name" 2{
  //           p "title" 3{}
  //           p "channel-name" 3{}  }2
  //  }1
  // }0

  display: grid;
  a {
    .video-thumbnail {
      border-radius: 10px;
      width: 100%;
    }
  }
  // todo there a bug with the widt of img (YT-logo) it get smaller  when the video title is too big
  .video-data {
    // outline: solid 1px rgba(225, 0, 255, 0.897); ////
    // display: grid;
    display: flex;

    .channel-logo {
      // outline: solid 1px rgba(225, 0, 255, 0.897); ////
      margin-right: 10px;
      width: 40px;
      img {
        border-radius: 50%;
      }
    }
    ///////
    .title-channel-name {
      p:nth-of-type(1) {
        color: #fff;
      }

      p:nth-of-type(2) {
        padding-block: 7px 0;
        color: #ffffff54;
      }
    }
  }
}

main .resources-section .yt-video-contanier .yt-vid-link {
  position: relative;
  overflow: hidden;
  z-index: 3;
  .thumbnail-gif {
    cursor: pointer;
    opacity: 0;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    &:hover {
      opacity: 1;
    }
  }
}
