.days__body main .resources-section {
  // outline: solid 1px rgba(225, 0, 255, 0.897); /////
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 20px 10px;
  padding: 0 100px;

  @media (min-width: 375px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 1500px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
