.days__body .home-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--701);
  height: 100%;
  width: 60px;
  margin-bottom: 5px;

  a {
    // outline: solid red 1px; ////
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, 0.119);
    transition: border-radius 180ms ease-in-out;
    border-radius: 50%;

    i {
      color: hsl(214, 4%, 65%);
      font-size: 1.5rem;
      transition: color 180ms ease-in-out;
    }
    &:hover {
      border-radius: 30%;
      i {
        color: hsl(0, 0%, 100%);
      }
    }
  }
}
