.sidebar-menu-open {
  width: 207px;

  .days-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
  }

  .home-svg {
    width: 100%;
  }
}

// sidebar open with animation

.sidebar-menu-open {
  animation: sidebar-open 200ms ease-in-out forwards;

  @keyframes sidebar-open {
    0% {
      width: 78px;
    }
    100% {
      width: 207px;
    }
  }
}
