.days__body main .summary .add-content {
  display: none;
  flex-direction: column;

  textarea {
    background-color: inherit;
    margin-top: 15px;
    outline: none;
    color: hsl(0, 0%, 85%);
    padding: 10px;
  }

  button {
    // outline: 2px solid red;
    display: none;
    margin-top: 10px;
    margin-inline: auto;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 7px 45px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: inset 0 0 10px 2px #ffffff4f;
    transition: box-shadow 130ms ease-in-out, padding-inline 200ms ease-in-out;
    &:hover {
      padding-inline: 70px;
      text-shadow: 0 0 1px;
    }
  }
}

.days__body main .summary .add-content.add-text {
  textarea {
    border: solid 2px hsl(300, 100%, 50%);
    box-shadow: 0 0 10px 0 hsl(300, 100%, 50%);
    height: 150px;
  }
  button:nth-of-type(1) {
    display: block;
    &:hover {
      box-shadow: inset 0 0 15px 5px hsl(300, 100%, 50%);
    }
  }
}

.days__body main .summary .add-content.add-image {
  textarea {
    border: solid 2px hsl(175, 100%, 50%);
    box-shadow: 0 0 10px 0 hsl(175, 100%, 50%);
    height: 70px;
  }
  button:nth-of-type(2) {
    display: block;
    &:hover {
      box-shadow: inset 0 0 15px 5px hsl(175, 100%, 50%);
    }
  }
}

.days__body main .summary .add-content.add-video {
  textarea {
    border: solid 2px hsl(345, 100%, 50%);
    box-shadow: 0 0 10px 0 hsl(345, 100%, 50%);
    height: 100px;
  }
  button:nth-of-type(3) {
    display: block;
    &:hover {
      box-shadow: inset 0 0 15px 5px hsl(345, 100%, 50%);
    }
  }
}

.days__body main .summary .add-content.add-link {
  textarea {
    border: solid 2px hsl(244, 100%, 57%);
    box-shadow: 0 0 10px 0 hsl(244, 100%, 57%);
    height: 70px;
  }
  button:nth-of-type(4) {
    display: block;
    &:hover {
      box-shadow: inset 0 0 15px 5px hsl(244, 100%, 57%);
    }
  }
}

.days__body main .summary .add-content-show {
  display: flex;
}
