.days__body main .summary .summary__content .save-clear-btn-contanier {
  // background-color: red;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  button {
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    animation: 4s linear 1s infinite;
    cursor: pointer;
  }

  button:nth-of-type(1) {
    animation-name: but1;
    animation-play-state: running;
    @keyframes but1 {
      0% {
        text-shadow: 0 0 0 #00ff22;
      }
      50% {
        text-shadow: 0 0 5px #00ff22;
      }
      100% {
        text-shadow: 0 0 0 #00ff22;
      }
    }

    &:hover {
      animation-play-state: paused;
      filter: drop-shadow(0 0 10px #00ff22);
    }
  }

  button:nth-of-type(2) {
    animation-name: but2;

    @keyframes but2 {
      0% {
        text-shadow: 0 0 0 #ff0000;
      }
      50% {
        text-shadow: 0 0 5px #ff0000;
      }
      100% {
        text-shadow: 0 0 0 #ff0000;
      }
    }

    &:hover {
      animation-play-state: paused;
      filter: drop-shadow(0 0 10px #ff0000);
    }
  }
}
