// https://codepen.io/Hyperplexed/pen/qBVPaNV

.home_body {
  min-height: 100vh;
  // section {
  //   min-height: 100vh;
  //   background-color: #050505;
  // }
  @function gray($color) {
    @return rgb($color, $color, $color);
  }

  input,
  h1,
  h2,
  a,
  p,
  button {
    color: gray(10);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  #app {
    // border: 6px solid red; ////
    background-color: gray(20);
    position: relative;
    height: 300vh;

    #calendar {
      // border: 2px solid rgb(98, 0, 255); ////
      background: hsla(0, 0%, 0%, 0.459);
      // min-height: 100vh;
      // overflow: hidden;
      position: relative;
      width: 100vw;

      #calendar-dates {
        // outline: 2px solid rgb(4, 0, 255); ////
        overflow: hidden;
        background-color: rgba(white, 0.15);
        border: 1px solid rgba(white, 0.15);
        border-radius: 20px;
        box-shadow: rgba(40, 11, 207, 0.15) 0 48px 100px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        height: 235vh;
        // padding: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 10%);
        width: 1050px;

        .date-wrapper {
          background-color: transparent;
          border: none;
          box-shadow: inset 0 0 6px 2px rgba(black, 0.03),
            inset 0 0 10px 8px rgba(black, 0.02);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          gap: 10px;
          height: 140px;
          outline: none;
          // overflow: hidden;
          padding: 10px;
          transition: transform 250ms;
          width: 140px;
          border-radius: 26px;
          &:hover,
          &:focus {
            cursor: pointer;
            transform: translateY(-5px);

            .date {
              background-color: rgba(white, 0.15);
              border-color: rgba(white, 0.25);
            }
          }

          .date {
            background-color: rgba(white, 0.1);
            border: 1px solid rgba(white, 0.1);
            box-shadow: 0 48px 100px 0 rgba(17, 12, 46, 0.02);
            flex-grow: 1;
            justify-content: space-between;
            position: relative;
            text-align: left;
            transition: background-color 250ms;
            width: calc(100% - 2px);
            border-radius: 20px;

            .date-day {
              border-radius: 100px;
              border: 1px solid rgba(white, 0.1);
              box-shadow: inset 0 0 8px 4px rgba(black, 0.04),
                inset 0 0 6px 4px rgba(black, 0.02);
              display: inline-flex;
              gap: 5px;
              margin: 10px;
              padding: 4px 12px;

              h2 {
                text-align: center;
              }

              .date-day-of-month {
                color: white;
                font-size: 0.8em;
              }

              .date-day-of-week {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 0.8em;
                color: #927ffdb4;
                margin-top: 2px;
              }
            }

            .date-title {
              align-items: start;
              display: flex;
              gap: 8px;
              padding: 10px;

              .date-title-dot {
                background-color: white;
                flex-shrink: 0;
                border-radius: 5px;
                height: 5px;
                margin-top: 5px;
                width: 5px;
              }

              h2 {
                color: white;
                word-break: break-word;
                font-size: 1em;
              }
            }
          }

          .active-day-indicator {
            border-radius: 5px;
            height: 5px;
            margin: 0 20px;
            width: calc(100% - 40px);
          }
        }
      }
    }
  }
}
