.home__body {
  // theme 1
  --900: #cdb4db;
  --800: #ffc8dd;
  --700: #ffafcc;
  --600: #bde0fe;
  --500: #a2d2ff;
  
  // theme 2
  --901: #6b35e8;
  --801: #3f13a4;
  --701: #050505;
  --601: #595959;
  --501: #fafafa;
}
