:root {
  // theme 2
  --901: #6b35e8;
  --801: #3f13a4;
  --701: #050505;
  --600: hsl(0, 0%, 20%);
  --601: #595959;
  --501: #fafafa;

  //??   _magic-controller [.controller__container]
  //↓↓ controller__container =>card =>active
  --boxActive: #45095d8b;
  //↓↓ controller__container =>card::after
  --boxBorder: hsla(0, 0%, 100%, 0.425);
  //↓↓ controller__container =>card::before
  --boxHover: hsla(0, 0%, 100%, 0.06);
  //↓↓ controller__container =>card =>card-content
  --box-bg: hsl(0, 0%, 8%);
  //↓↓ controller__container =>card =>card-content =>span
  --box-t: hsl(0, 0%, 60%);
}
